#!{{ lookPath "sh" }}

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(mise activate bash --shims)"

export PNPM_HOME="$HOME/Library/pnpm"
mkdir -p "$PNPM_HOME"
export PATH="$PNPM_HOME:$PATH"

if ! command -v pnpm >/dev/null 2>&1; then
  echo "pnpm not found, skipping global installs"
  exit 0
fi

pnpm add -g tabtab @genql/cli @openapitools/openapi-generator-cli
{{ end -}}