{{ $personal_device := false }}
{{ $work_device := false }}

{{ $device_type := "desktop" }}
{{ if eq .chezmoi.os "darwin" }}
{{   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{     $device_type = "laptop" }}
{{   else }}
{{     $device_type = "desktop" }}
{{   end }}
{{ else if eq .chezmoi.os "linux" }}
{{   $device_type = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{ else if eq .chezmoi.os "windows" }}
{{   $device_type = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{ end }}

{{ $email := promptString "email" -}}

{{ $personal_device = promptBool "personal_device" }}
{{ $work_device = promptBool "work_device" }}

[data]
  email = {{ $email | quote }}
  personal_device = {{ $personal_device }}
  work_device = {{ $work_device }}
  device_type = {{ $device_type | quote }}