{{- if (eq .chezmoi.os "darwin") -}}

[storage]
engine = icloud

[applications_to_sync]
clion
iina
intellijidea
iterm2
gitfox
keybase
ledger
macosx
pow
raycast
rectangle
spotify
tableplus
vscode
xcode


[applications_to_ignore]
git
ssh
zsh
p10k
vim
mackup
bash
gnupg
asdf

{{ end -}}