{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

if test ! $(which hasura); then
    curl -L https://github.com/hasura/graphql-engine/raw/stable/cli/get.sh | bash
fi

if test ! $(which supabase); then
    supabase completion fish > ~/.config/fish/completions/supabase.fish
fi

{{ end -}}