{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Add required plugins
asdf plugin-add nodejs
asdf plugin-add ruby
asdf plugin-add maven
asdf plugin-add gradle
asdf plugin-add flutter
asdf plugin-add python

bash -c '${ASDF_DATA_DIR:=$HOME/.asdf}/plugins/nodejs/bin/import-release-team-keyring'

# Install ASDF latest versions
asdf install nodejs 14.18.0
asdf install ruby 3.0.2
asdf install flutter 2.5.2
asdf install python 3.9.7
asdf install maven 3.8.2

# Set globals
asdf global nodejs 14.18.0
asdf global ruby 3.0.2
asdf global maven 3.8.2
asdf global flutter 2.5.2
asdf global python 3.9.7

{{ end -}}