{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "🍺 Installing homebrew packages..."

brew bundle --no-lock --file=/dev/stdin <<EOF
#####################
# Brewfile contents #
#####################

# Taps
tap 'heroku/brew'
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/core'
tap 'supabase/tap'

# GNU utils
brew 'coreutils'
brew 'findutils'

# Bash fish and dotfiles
brew 'bash'
brew 'bash-completion@2'
brew 'zsh'
brew 'fish'
brew 'chezmoi'

brew 'mas' # Mac App Store manager

{{ if .personal_device }}
# Development
brew 'ktlint'
brew 'swiftformat'
brew 'swiftlint' # Requires XCode to be installed first
brew 'cloc'
{{ end }}

# Development environment
brew 'asdf'
brew 'platformio'
brew 'supabase'

# Utilities
brew 'git'
brew 'tldr'
brew 'trash'
brew 'tree'
brew 'vim'
brew 'wget'
brew 'wifi-password'
brew 'grep' # Global Regural Expression Print
brew 'zoxide' # Better cd in Terminal
brew 'fzf' # For zoxide
brew 'topgrade'

#####################
# Casks             #
#####################

# Common
cask "1password"
cask "1password-cli"
cask "adguard"
cask "temurin"
cask "docker"
cask "github"
# cask 'imageoptim' # ARM not supported yet
cask "iterm2"
cask "keka"
cask "obsidian"
cask "parallels"
cask "sf-symbols"
cask "slack"
cask "via"
cask "visual-studio-code"

{{ if eq .device_type "laptop" }}
cask "coconutbattery"
{{ end }}

{{ if .personal_device }}
cask "android-commandlinetools"
cask "android-platform-tools"
cask "android-studio"
cask "google-chrome"
cask "ledger-live"
cask "iina" # Open-Source Video Player
cask "setapp" # A collection of apps
cask "sketch"
cask "spotify"
cask "raindropio"
cask "raycast"
cask "rectangle"
cask "telegram"
cask "transmission"
cask "viber"
{{ end }}

{{ if .work_device }}
cask "citrix-workspace"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-office"
cask "microsoft-teams"
{{ end }}

# Fonts
cask 'font-lato'
cask 'font-open-sans'
cask 'font-roboto'
cask 'font-source-code-pro'
cask 'font-source-sans-pro'
cask 'font-source-serif-pro'
cask 'font-meslo-for-powerline'
cask 'font-meslo-lg-nerd-font'
cask 'font-meslo-lg'
cask "font-hack-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "font-ubuntu"

# Mac App Store manager
mas '1Password for Safari', id: 1569813296
mas 'Pages', id: 409201541
mas 'Keynote', id: 409183694
mas 'Numbers', id: 409203825

{{ if .personal_device }}
mas 'Save to Raindrop.io', id: 1549370672
mas 'Reeder', id: 1529448980
mas 'Mela', id: 1568924476
mas "Xcode", id: 497799835
{{ end }}

#########################
# Brewfile contents end #
#########################
EOF
{{ end -}}

echo "🍺 Cleaning up after homebrew..."
brew cleanup

sudo xcode-select -s /Applications/Xcode.app/Contents/Developer