{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

echo "🚀 Setting up your new mac..."

# Check for Homebrew and install if we don't have it
if test ! $(which brew); then
  echo "🍺 Installing homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update

{{ end -}}