{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

if [[ ! -d ~/.1password ]] ; then
    echo "🔐 Prepare 1Password SSH agent"
    mkdir -p ~/.1password && ln -s ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock ~/.1password/agent.sock
fi

{{ end -}}