{{- if (eq .chezmoi.os "darwin") -}}
#!/opt/homebrew/bin/fish

if not type -q fisher
    echo "🐟 Installing fisher..."
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end

{{ end -}}