# Disable greeting message
set -U fish_greeting

if status is-interactive
    abbr --add --global work cd ~/Workspace
    abbr --add --global dodi cd ~/Workspace/dodi
    abbr --add --global dl cd ~/Workspace/dl

    # Administer like a sir
    abbr --add --global please sudo

    abbr --add --global 1plogin op signin my.1password.com {{ .email | quote }}
    abbr --add --global speedtest networkQuality

    abbr --add --global badge tput bel
    abbr --add --global stfu osascript -e 'set volume output muted true'
    abbr --add --global pumpitup osascript -e 'set volume output volume 75'
    abbr --add --global afk /System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend

    # Janitor goodies
    abbr --add --global gradleclean rm -rf $HOME/.gradle/caches/
    abbr --add --global pyclean find . | grep -E '(__pycache__|\.pyc|\.pyo$)' | xargs rm -rf

    # Python
    abbr --add --global py python
    abbr --add --global pyserver py -m http.server
    abbr --add --global pipup pip freeze --local | cut -d = -f 1  | xargs pip install -U
end

set -gx LC_ALL en_US.UTF-8
set -gx LANG en_US.UTF-8

# Preferred editor for local and remote sessions
if test -n "$SSH_CONNECTION"
  set -gx EDITOR "vim"
else
  set -gx EDITOR "code"
end

set -gx VISUAL "code"
set -gx JAVA_HOME `/usr/libexec/java_home -v 11`
set -gx ANDROID_SDK_ROOT /usr/local/share/android-commandlinetools
set -gx SSH_AUTH_SOCK ~/.1password/agent.sock

set -U fish_user_paths /usr/local/bin $fish_user_paths

# Configure ASDF 
source (brew --prefix asdf)"/libexec/asdf.fish"

# Configure Homebrew completions
if test -d (brew --prefix)"/share/fish/completions"
    set -gx fish_complete_path $fish_complete_path (brew --prefix)/share/fish/completions
end

if test -d (brew --prefix)"/share/fish/vendor_completions.d"
    set -gx fish_complete_path $fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
end

# Configure zoxide
zoxide init fish | source