<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTabbarInTitlebarAccessoryBigSur</key>
	<false/>
	<key>CheckTestRelease</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Brogrammer</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.095619738101959229</real>
				<key>Green Component</key>
				<real>0.067135065793991089</real>
				<key>Red Component</key>
				<real>0.97170770168304443</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.379891037940979</real>
				<key>Green Component</key>
				<real>0.82695949077606201</real>
				<key>Red Component</key>
				<real>0.11459558457136154</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.035377603024244308</real>
				<key>Green Component</key>
				<real>0.74144089221954346</real>
				<key>Red Component</key>
				<real>0.95126962661743164</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72698760032653809</real>
				<key>Green Component</key>
				<real>0.3135044276714325</real>
				<key>Red Component</key>
				<real>0.32478702068328857</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85764402151107788</real>
				<key>Green Component</key>
				<real>0.4900696873664856</real>
				<key>Red Component</key>
				<real>0.059441849589347839</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36823004484176636</real>
				<key>Green Component</key>
				<real>0.77383565902709961</real>
				<key>Red Component</key>
				<real>0.17600196599960327</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.060177117586135864</real>
				<key>Green Component</key>
				<real>0.72761225700378418</real>
				<key>Red Component</key>
				<real>0.92706489562988281</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82454067468643188</real>
				<key>Green Component</key>
				<real>0.51804500818252563</real>
				<key>Red Component</key>
				<real>0.16567224264144897</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71787959337234497</real>
				<key>Green Component</key>
				<real>0.35215187072753906</real>
				<key>Red Component</key>
				<real>0.30770933628082275</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1818375289440155</real>
				<key>Green Component</key>
				<real>0.20686990022659302</real>
				<key>Red Component</key>
				<real>0.87161564826965332</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.076218985021114349</real>
				<key>Green Component</key>
				<real>0.076217696070671082</real>
				<key>Red Component</key>
				<real>0.07621997594833374</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72549021244049072</real>
				<key>Green Component</key>
				<real>0.72549021244049072</real>
				<key>Red Component</key>
				<real>0.72549021244049072</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
		</dict>
		<key>Chalk</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56232324660633481</real>
				<key>Green Component</key>
				<real>0.54379904995920658</real>
				<key>Red Component</key>
				<real>0.48946561629468649</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32056234871547967</real>
				<key>Green Component</key>
				<real>0.22880050174078803</real>
				<key>Red Component</key>
				<real>0.69980203619909509</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4380863119291733</real>
				<key>Green Component</key>
				<real>0.77022058823529416</real>
				<key>Red Component</key>
				<real>0.50210547698154084</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38433974981307983</real>
				<key>Green Component</key>
				<real>0.92321735620498657</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.58658880481119824</real>
				<key>Red Component</key>
				<real>0.25301916229341825</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.46070275624792595</real>
				<key>Green Component</key>
				<real>0.32033414432100477</real>
				<key>Red Component</key>
				<real>0.98699095022624439</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.74187815387757039</real>
				<key>Green Component</key>
				<real>0.8030613687782806</real>
				<key>Red Component</key>
				<real>0.32424480209917289</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85098040103912354</real>
				<key>Green Component</key>
				<real>0.84705883264541626</real>
				<key>Red Component</key>
				<real>0.82352942228317261</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.41532100759933388</real>
				<key>Green Component</key>
				<real>0.60644089366515841</real>
				<key>Red Component</key>
				<real>0.47089726353294475</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.29084579493154233</real>
				<key>Green Component</key>
				<real>0.674033910034048</real>
				<key>Red Component</key>
				<real>0.72714578619909509</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67496818438914019</real>
				<key>Green Component</key>
				<real>0.49827707227415013</real>
				<key>Red Component</key>
				<real>0.1650784426346574</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35376425577116455</real>
				<key>Green Component</key>
				<real>0.31030611240647216</real>
				<key>Red Component</key>
				<real>0.73992505656108598</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.6001695990562439</real>
				<key>Green Component</key>
				<real>0.6554722785949707</real>
				<key>Red Component</key>
				<real>0.26824772357940674</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85098040103912354</real>
				<key>Green Component</key>
				<real>0.84705883264541626</real>
				<key>Red Component</key>
				<real>0.82352942228317261</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.53333336114883423</real>
				<key>Green Component</key>
				<real>0.53333336114883423</real>
				<key>Red Component</key>
				<real>0.53333336114883423</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25098040699958801</real>
				<key>Green Component</key>
				<real>0.28235295414924622</real>
				<key>Red Component</key>
				<real>0.94901961088180542</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18184389173984528</real>
				<key>Green Component</key>
				<real>0.17562578618526459</real>
				<key>Red Component</key>
				<real>0.16979476809501648</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92621010541915894</real>
				<key>Green Component</key>
				<real>0.9264177680015564</real>
				<key>Red Component</key>
				<real>0.92623984813690186</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85098040103912354</real>
				<key>Green Component</key>
				<real>0.84705883264541626</real>
				<key>Red Component</key>
				<real>0.82352942228317261</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25668647885322571</real>
				<key>Green Component</key>
				<real>0.24950546026229858</real>
				<key>Red Component</key>
				<real>0.24626246094703674</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93112045526504517</real>
				<key>Green Component</key>
				<real>0.91148865222930908</real>
				<key>Red Component</key>
				<real>0.8929295539855957</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>BA0E3D3F-36B6-4012-9849-10CE66B8376C</string>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>FlashTabBarInFullscreen</key>
	<false/>
	<key>HTMLTabTitles</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideTab</key>
	<true/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>LeftOption</key>
	<integer>2</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>AWDS Pane Directory</key>
			<string></string>
			<key>AWDS Pane Option</key>
			<string>No</string>
			<key>AWDS Tab Directory</key>
			<string></string>
			<key>AWDS Tab Option</key>
			<string>Recycle</string>
			<key>AWDS Window Directory</key>
			<string></string>
			<key>AWDS Window Option</key>
			<string>No</string>
			<key>Allow Title Reporting</key>
			<true/>
			<key>Allow Title Setting</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.095619738101959229</real>
				<key>Green Component</key>
				<real>0.067135065793991089</real>
				<key>Red Component</key>
				<real>0.97170770168304443</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.379891037940979</real>
				<key>Green Component</key>
				<real>0.82695949077606201</real>
				<key>Red Component</key>
				<real>0.11459558457136154</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.035377603024244308</real>
				<key>Green Component</key>
				<real>0.74144089221954346</real>
				<key>Red Component</key>
				<real>0.95126962661743164</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72698760032653809</real>
				<key>Green Component</key>
				<real>0.3135044276714325</real>
				<key>Red Component</key>
				<real>0.32478702068328857</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85764402151107788</real>
				<key>Green Component</key>
				<real>0.4900696873664856</real>
				<key>Red Component</key>
				<real>0.059441849589347839</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36823004484176636</real>
				<key>Green Component</key>
				<real>0.77383565902709961</real>
				<key>Red Component</key>
				<real>0.17600196599960327</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.060177117586135864</real>
				<key>Green Component</key>
				<real>0.72761225700378418</real>
				<key>Red Component</key>
				<real>0.92706489562988281</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82454067468643188</real>
				<key>Green Component</key>
				<real>0.51804500818252563</real>
				<key>Red Component</key>
				<real>0.16567224264144897</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71787959337234497</real>
				<key>Green Component</key>
				<real>0.35215187072753906</real>
				<key>Red Component</key>
				<real>0.30770933628082275</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1818375289440155</real>
				<key>Green Component</key>
				<real>0.20686990022659302</real>
				<key>Red Component</key>
				<real>0.87161564826965332</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.076218985021114349</real>
				<key>Green Component</key>
				<real>0.076217696070671082</real>
				<key>Red Component</key>
				<real>0.07621997594833374</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72549021244049072</real>
				<key>Green Component</key>
				<real>0.72549021244049072</real>
				<key>Red Component</key>
				<real>0.72549021244049072</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Cursor Type</key>
			<integer>1</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Advanced</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Guid</key>
			<string>BA0E3D3F-36B6-4012-9849-10CE66B8376C</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Menlo-Regular 11</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Reduce Flicker</key>
			<false/>
			<key>Right Option Key Changeable</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Status Bar</key>
			<false/>
			<key>Show Timestamps</key>
			<integer>2</integer>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Title Components</key>
			<integer>512</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/azlekov</string>
		</dict>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<true/>
	<key>OptionIsMetaForSpecialChars</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreserveWindowSizeWhenTabBarVisibilityChanges</key>
	<false/>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>SeparateStatusBarsPerPane</key>
	<false/>
	<key>SmartPlacement</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>StretchTabsToFillBar</key>
	<false/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>UseBorder</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
</dict>
</plist>
